@CHARSET "UTF-8";

.tabcont {
	border: 1px solid #dadada;
	padding: 20px;
}

.tabList01 {
	margin: 23px 0 30px;
	background-image: url("../../images/common/tab/blt001_on.png");
	background-repeat: repeat-x;
	background-position: 0 bottom;
	background-size: auto 2px;
}

.tabList01 li {
	float: left;
}

.tabList01 li:first-child a {
	border-left: 1px solid #c3c3c3;
}

.tabList01 li a {
	display: block;
	width: 130px;
	height: 41px;
	line-height: 41px;
	font-weight: bold;
	text-align: center;
	box-sizing: border-box;
	border-top: 1px solid #c3c3c3;
	border-right: 1px solid #c3c3c3;
}

.tabList01 li.on a {
	color: #e74048;
	border: 2px solid #e74048;
	border-bottom: 2px solid #fff;
}

.tabList01.type2 li a {
	width: 80px
}

.tabList01.type2 li.on a {
	background: #e74048;
	color: #fff;
	border: none;
}

.tabList02 li {
	float: left;
	margin-right: 10px
}

.tabList02 li a {
	display: block;
	width: 170px;
	height: 38px;
	line-height: 38px;
	text-align: center;
	background-image: url("../../images/common/tab/bg_tabBtn.png");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.tabList02 li.on a {
	background: #e74048;
	color: #fff;
}

.tabList03 {
	margin: 30px 0 25px;
}

.tabList03 li:first-child {
	margin-right: 15px;
}

.tabList03 li {
	float: left;
}

.tabList03 li a {
	display: inline-block;
	width: 374px;
	height: 50px;
	line-height: 50px;
	font-weight: bold;
	font-size: 18px;
	color: #fff;
	text-align: center;
	background: #878787;
}

.tabList03 li.on a {
	height: 58px;
	background-image: url("../../images/common/tab/bg_tab03_on.png");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.tabList04 {
	margin-left: -5px;
}

.tabList04 li {
	float: left;
	width: 155px;
	height: 50px;
	margin: 0 0 5px 5px;
}

.tabList04 li.m {
	width: 284px;
}

.tabList04 li.l {
	width: 315px;
}

.tabList04 li a {
	display: block;
	width: 100%;
	height: 100%;
	line-height: 50px;
	box-sizing: border-box;
	background: #fbfcfc;
	border: 1px solid #c3c3c3;
	font-weight: bold;
	text-align: center;
}

.tabList04 li.on a {
	color: #fff;
	background: #e74048;
	border: none;
}